.card-box1{
    width:30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}
.startDateInput
{
  border: none;
  outline: none;
  width: 200px;
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--font-grey);
}

.endDateInput
{
  border: none;
  outline: none;
  width: 100%;
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--font-grey);
}

.input-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 1rem;
  border: 1px solid var(--grey);
  border-radius: 2rem;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.input-bar:hover {
  box-shadow: 0 1px 2px rgb(0 0 0 / 15%), 0 4px 12px rgb(0 0 0 / 10%);
  transition: all 0.2s;
  cursor: pointer;
}
.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}
.bookButton {
    background-color: red;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    font-size: 0.85rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

.sign-in-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--font-black);
    margin-bottom: 1rem;
    text-align: center;
}
.email-sign-in-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--font-grey);
}

.password-sign-in-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--font-grey);
}

.sign-up-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--font-black);
    margin-bottom: 1rem;
    text-align: center;
}

.email-sign-up-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--font-grey);
}

.password-sign-up-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--font-grey);
}

.first-name-sign-up-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--font-grey);
}

.last-name-sign-up-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--font-grey);
}

.sign-in-button {
    background-color: red;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    font-size: 0.85rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

.sign-up-button {
    background-color: red;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    font-size: 0.85rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

.create-listing-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--font-black);
    margin-bottom: 1rem;
    text-align: center;
}

.listing-name-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--font-grey);
}

.listing-desc-input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--font-grey);
}

.listing-city-input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--font-grey);
}

.listing-county-input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--font-grey);
}

.listing-category-input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--font-grey);
}

.listing-zipcode-input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--font-grey);
}

.listing-image-link-input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--font-grey);
}

.create-listing-button {
    background-color: red;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    font-size: 0.85rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

.listing-country-input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--font-grey);
}